<div class="container">
  <div class="banner">
    Operations in Two Numbers
  </div>

  <div class="operand-container">
    <input class="operand-input" type="number" [formControl]="leftOperandForm">
    <input class="operand-input" type="number" [formControl]="rightOperandForm">
  </div>

  <div class="operator-container">
    <button class="operator-button" (click)="add()">+</button>
    <button class="operator-button" (click)="sub()">-</button>
    <button class="operator-button" (click)="mul()">*</button>
    <button class="operator-button" (click)="div()">/</button>
  </div>

  <div class="answer">
    {{ result }}
  </div>
</div>