<div class="container">
  <div class="banner">
    Operations in Two Numbers
  </div>

  <div class="operand-container">
    <input class="operand-input" type="number" [formControl]="leftOperandForm">
    <input class="operand-input" type="number" [formControl]="rightOperandForm">
  </div>

  <div class="operator-container">
    <button class="operator-button" (click)="calculator('add')">+</button>
    <button class="operator-button" (click)="calculator('sub')">-</button>
    <button class="operator-button" (click)="calculator('mul')">*</button>
    <button class="operator-button" (click)="calculator('div')">/</button>
  </div>

  <div class="answer">
    {{ result }}
  </div>
</div>